#breadcrumb {
    background-color: #111111;
    padding: 1rem;

    display: flex;
    align-items: baseline;

    * {
        font-family: var(--font-mono);
        font-size: 32px;
    }
}

#breadcrumb_location {
    display: flex;
    align-items: baseline;

    font-weight: bold;
    white-space: nowrap;

    /* -- line-head border -- */
    border-left: #fff solid 0.3rem;
    padding: 0.5rem;

    > :only-child::before,
    :first-child::before {
        content: "~";
    }
    > :not(:last-child, :only-child):after {
        content: "/";
    }

    a {
        color: magenta;
    }
}

#breadcrumb_signage {
    color: #fff;
    width: 100%;
    &::after {
        content: "_";
        animation: 0.5s blinking alternate infinite;
    }
}
