.breadcrump {
    display: flex;
    flex-direction: row;
    align-self: center;

    white-space: nowrap;

    background-color: #111111;
    padding: 1rem 2rem 1rem 1rem;


    * {
        font-family: var(--font-mono);
        font-size: 32px;
    }

    .location {
        display: inline-flex;
        font-weight: bold;

        &::before{
            content: "";
            border-left: #fff solid .4rem;
            padding: .5rem;
        }
        & :first-child::before{
            content: "~";
        }
        & :not(:last-child):after{
            content: "/";
        }

        a {
            text-decoration-line: none;
            color: magenta;
        }
    }


    .signage {
        color: #fff;
        &::after{
            content: "_";
            animation: .5s blinking alternate infinite;
        }
    }

}
