{{ define "main" }}
    <div id="list-navbar">
        <a href=".."><- back</a>
    </div>
    <h2 id="list-title">{{ .Page.Title }}</h2>
    <ul id="list-articles">
        {{ range .Pages.ByDate.Reverse }}
            <li>
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                    <br>
                    {{ .Date.Format "2006-01-02" }}
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}

{{ define "footer" }}
    {{ partial "footer" . }}
{{ end }}
