*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-base);
}

html,
body {
    height: 100dvh;
}

main {
    height: 100dvh;
    display: grid;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
