:root {
    /* === fonts === */
    --font-regular: go, system-ui;
    --font-mono: go-mono, monospace;

    color-scheme: light dark;
    /* === palette === */
    --color-major: light-dark(oklch(10% 0.01 157.38),#eee);
    --color-minor: light-dark(#f38401,#ff66aa);

    --color-bg: light-dark(#dddddd, #222222);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-regular);
}

html,
body {
    height: 100dvh;
    background-color: var(--color-bg);
}

main {
    height: 100dvh;
    display: grid;
}

a {
    text-decoration: none;
    color: var(--color-minor);

    &:hover {
        text-decoration: underline;
    }
}
