.home.hero {
    background-color: #111111;
    padding: 2rem 2rem 2rem 1rem;

    > h1 {
        font-family: var(--font-mono);
        padding-left: 1rem;
        border-left: .3rem solid #fff;
        &::before {
            content: "~";
        }
        &::first-letter {
            color: magenta;
        }
        &::after{
            content: "_";
            animation: .5s blinking alternate infinite;
        }
    }
}

.home.navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 18px;
}

.home.category {
    font-size: 22px;
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
