#home-bio {
    background-color: #111111;
    padding: 1rem;
    min-width: 40vw;

    > h1 {
        border-left: .3rem solid #eee;
        padding: 0 1rem;
        &::first-letter {
            color: magenta;
        }
        &::after{
            content: "_";
            animation: .5s blinking alternate infinite;
        }
    }
}

#home-linkbar {

    height: min-content;
    > a {
        text-decoration: underline var(--txt-minorcolor-dark);
    }
    margin: 1rem 0;
}

#home-navbar {
    margin: 2rem 0;
}
