.signage {
    display: flex;
    flex-direction: row;

    background-color: #111111;
    padding: 2rem 2rem 2rem 1rem;


    * {
        font-family: var(--font-mono);
        font-size: 32px;
    }

    nav {
        &::before{
            content: "";
            border-left: #fff solid .4rem;
            padding: .5rem;
        }
    }
    a {
        text-decoration-line: none;
        color: magenta;
    }
    h1 {
        color: #fff;
        &::after{
            content: "_";
            animation: .5s blinking alternate infinite;
        }
    }

}
.home {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;

    > h2 {
        align-self: center;
    }
}
.home.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 18px;
}
.home.category {
    font-size: 22px;
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.section {
    grid-template-rows: auto auto 1fr auto;
    align-content: start;
    justify-items: center;

    > h2 {
        margin: 4rem;
    }
}


.single {
    grid-template-rows: min-content auto;
}
.single.breadcrumb {
    place-self: center;
    margin: 1rem 0;
}
