main.home {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;

    > h2 {
        align-self: center;
    }
}

main.section {
    display: flex;
    flex-direction: column;

    > h2 {
        margin: 2rem auto;
        align-self: center;
    }
}
