* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--txt-majorcolor-dark);
    font-family: var(--font-base);
}

html,
body,
main {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
}

a {
    color: var(--txt-minorcolor-dark);
    text-decoration: none;

    &:hover {
        font-weight: bolder;
        text-decoration: underline;
    }
}

main {
    display: grid;
    place-content: center;
    place-items: center;
    row-gap: 1rem;
}
