* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--txt-majorcolor-dark);
    font-family: var(--font-base);
}

html,
body,
#app-container,
#app-main {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
}

a {
    color: var(--txt-minorcolor-dark);
    text-decoration: none;
}

#app-container {
    display: flex;
    flex-direction: column;

    overflow: auto;
}
#app-main {
    display: grid;
    grid-template-columns: 30% 20%;

    place-content: center;
    place-items: center;
}
#app-footer {
    justify-self: end;
    background-color: rgba(30, 141, 210, 0.343);

    text-align: center;
    margin-top: auto;
    border-top: 2px solid #776f64;
    padding: 1rem 0;
}
