:root {
    --font-base: gofonts, system-ui;
    --font-mono: 'gofonts mono', monospace;

    color-scheme: light dark;
    /* === main colors === */
    --dark-major: oklch(90% 0.01 157.38);
    --dark-minor: oklch(80% 0.1 157.38);
    --light-major: oklch(10% 0.01 157.38);
    --light-minor: oklch(70% 0.1591 6.22);

    --light-bg: oklch(85% 0 0);
    --dark-bg: oklch(25% 0 0);
}

html,
body,
main {
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}

a {
    color: light-dark(var(--light-minor), var(--dark-minor));
}
