:root {
    --font-base: gofonts, system-ui;
    --font-mono: 'gofonts mono', monospace;

    color-scheme: light dark;
    /* === text colors === */
    --dark-txt-major: oklch(90% 0.01 157.38);
    --dark-txt-minor: oklch(70% 0.1 157.38);
    --dark-txt-bonus: oklch(70% 0.14 260.66);
    --light-txt-major: oklch(10% 0.01 157.38);
    --light-txt-minor: oklch(70% 0.1591 6.22);
    --light-txt-bonus: oklch(70% 0.1 56.68);

    --light-bg: oklch(90% 0 0);
    --dark-bg: oklch(25% 0 0);
}

html,
body,
main {
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}

a {
    color: light-dark(var(--light-txt-minor), var(--dark-txt-minor));
}
