#home {
    padding: 0 20dvw;

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5vw;
    align-content: center;
}

#home_dashboard {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    row-gap: 0.3rem;
}
.card {
    background-color: var(--color-minor);
    border: 3px solid var(--color-major);
}
#home_dashboard_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#home_category {
    font-size: 1.3rem;

    display: flex;
    flex-direction: column;

    a {
        padding: 0.5rem;
        border: 3px solid transparent;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

        &:hover {
            text-decoration: none;
            color: var(--color-major);
            background-color: var(--color-minor);
            border-color: var(--color-major);
        }
    }
}

svg {
    width: 32px;
    height: 32px;
    stroke-width: 1.75;
    stroke: var(--color-major);

    /* padding: 1rem; */

    &:hover {
        background-color: var(--color-minor);
        transition: background-color 0.2s ease-in-out;
    }
}
